<div ng-controller="pxdataTablePredixCtrl as ctrl" ng-style="{'width': ctrl.width, 'height' : ctrl.height}">
    
    <script type="text/ng-template" id="pxDataTable.html"> 
    <link ng-href="{{DECISYON.template.mainLibraryPath}}/vendor/px-data-table/px-data-table.html" rel="import" dcy-on-load load-handler="ctrl.setPredixdataTableLibraryLoaded();">
    <px-data-table id="{{ctrl.widgetID}}" table-data="{{ctrl.tableData}}" page-size="{{ctrl.pageSize}}"></px-data-table>
    </script>
    
    
    <script type="text/ng-template" id="error.html">
        <h3 id="dataTableError">{{ctrl.errorMsg}}</h3>
    </script>
    
    <div ng-style="{'width': ctrl.width, 'height' : ctrl.height}" ng-include src="ctrl.currentTpl">
    </div>    
    
</div>